<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title> Change Password </title> 
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href= "{% static "css/passwordchangec.css" %}" >
</head>
<body>
<div class="container box">
     <div class="row" >
        <form method="post" action="/plogin/passwordchanged/" class="input-group input-group-lg under"> {% csrf_token %}
    <font><b>Cuurent password:</b> </font><input type="text" name="username" /><br /></br>
        <font><b>New Password:</b> </font><input type="password" name="password" /><br /></br>
       <font><b>Re-Enter New Password:</b> </font><input type="password" name="npassword" /><br /></br>
       <button type="submit" class="btn btn-success">Change</button>
     </div>
</form>   
   </form>
   </div>


</body>
</html>