<!DOCTYPE html>
<html>
<head>
	<title>publication website</title>
	<link rel="stylesheet" href="..\bootstrap\dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" href="decor1.css">
</head>
<body background="mainpageback.jpg">
   <div class="page-header">
   	    <h1 class="text-left" ><strong><span style="color:blue">Publication Conspectus</span></strong></h1>
   	    </div>
   
  <nav class="navbar navbar-inverse">
 
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PUBLICATION CONSPECTUS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="userlogin.html">Login</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">IIPS Faculties</a></li>

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="developer.html">About Developers</a></li>
        <li><a href="">Admin Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
             
</nav>
      <h2 class="text-center"><strong><font color="red"><u>EXPERIENCED P.H.D ADVISORS</u></strong></font></h2>

      <img src="">
<table class="table table-hover" >
        	<tr class="danger" >
               <td></td>
               <td>PHD HOLDERS</td>
               <td>University/Institute</td>
            </tr>
            <tr class="info"><a href="">
               <td><img src="#"></td>
               <td>Dr.kirti mathur</td>
               <td>IIps</td>
               </a>
            </tr>

            <tr class="info"><a href="">
               <td><img src="#"></td>
               <td>Dr.kirti vijayvargiya</td>
               <td>IIps</td>
               </a>
            </tr>

            <tr class="info"><a href="">
               <td><img src="shaligramsir.jpg" width="75px" height="75px"></td>
               <td>Dr.Shaligram prajapat </br></td>
               <td>IIps</td>
               </a>
            </tr>

            <tr class="info"><a href="">
               <td><img src="#" ></td>
               <td>Dr. Vivek shrivastav</td>
               <td>IIps</td>
               </a>
            </tr>
        </table> 
  

    
    <script src="..\bootstrap\dist\js\bootstrap.min.js"></script>
</body>
</html>