<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Error!</title>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/errorc.css" %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
</head>
<body>
      </br>
      </br>
      </br>
      </br>
      <div class="alert alert-danger alert-dismissible center error" role="alert">

     <strong>Hurray!!</strong> You have successfully logged out!
     <br>
     Click here to go to <a href="/tlogin/">Homepage </a>
</div>
      <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}" ></script> 
</body>
</html>								